.choices a{color:#000!important;background:none!important}
.choices a:hover{text-decoration:none}
.choices p a.selected{color:#aaa!important}
.correct {color:#00CC33!important}
.wrong {color:#BB0066!important}
.choices p {font-size:16px;color:#000}
.choices p span {font-weight:bold;}
.results p {border:1px solid #d6d6d6;background-color:#eee;padding:5px;margin-bottom:10px}
.results p {font-size:16px;color:#000}

